body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
}

#searches {
  width: 85%;
}

#search-title {
  margin-top: 20px;
}

.search-item {
  float: left;
  padding: 10px;
}
label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 30px;
}

h1,
h2 {
  margin-left: 30px;
  text-align: center;
  color: slateblue;
}

input[type="text"] {
  margin: 10px 30px;
  height: 30px;
  font-size: 16px;
}

button,
input[type="submit"] {
  background-color: blueviolet;
  color: gold;
  margin: 15px 30px;
  border: 2px solid gold;
  border-radius: 5px;
  padding: 6px 15px;

  font-size: 17px;
  margin: 20px 10px 10px 30px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #bbb;
}

button:hover,
input[type="submit"]:hover {
  background: darkblue;
}

button.active {
  background: darkblue;
}
