/* h1 {
  background-color: cyan;
  color: grey;
  text-align: center;
} */

button {
    background-color: cyan;
}

.container {
    padding: 20px;
    margin: 30px;


}

h1, h3 {
    margin: 30px;

}